langchain==0.3.25
sentence-transformers==3.0.1
faiss-cpu==1.7.4
pypdf==3.2.1
streamlit==1.27.2
transformers==4.41.0
torch==2.7.0
langchain-community==0.0.33
langchain-openai==0.1.25
python-dotenv==1.0.0
pydantic==2.7.4
numpy==1.25.2

